<!--Decimos que herede-->
{% extends "appPrincipal/base.html" %}
<!--Cargamos bootstrap-->
{% load static %} 
{% block content %}
    <div style="text-align: center; margin:20px;">
        <a class="btn btn-secondary" href="smart_search">Smart Search</a>
    </div>
    <div style="text-align: center; margin:20px;">
        <a class="btn btn-secondary" href="recycle_search">Recycle Search</a>
    </div>
    <div style="text-align: center; margin:20px;">
        <a class="btn btn-secondary" href="clean_container">Clean Container</a>
    </div>
{% endblock%}